@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

html {
    background-color: rgb(14, 151, 167);
}

.event-calendar-container {
    width: 100%;
    max-width: 435px;
    min-width: 300px;
    float: left;
    display: inline-block;
}

.event-calendar-scroll {
    height: 250px;
    overflow-y: scroll;
}


.event-calendar {
    font-size: 14px;
    font-family: Open Sans;
    overflow: hidden;
    white-space: nowrap;
}

.head {
    margin-bottom: 0px;
}

ss {
    color: #10e1e0;
}

.top-line {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2em;
    text-transform: capitalize;
    color: rgb(253, 248, 228);
}

.spacer {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.xl-trans-spacer {
    margin-bottom: 20px;
}

.event-list {
    display: block;
    border-right: 1px solid rgb(229, 229, 229);
}

.event {
    text-decoration: none;
}

.event:nth-child(3n+1) .event-container {
    border-left-color: #15cb43;
    /* verde */
}

.event:nth-child(3n) .event-container {
    border-left-color: #FDD835;
    /*amarillo*/
}

.event:nth-child(3n-1) .event-container {
    border-left-color: #F44336;
    /*rojo*/
}

.event-container {
    color: #131313;
    transition: all 0.2s ease;
    background: #FAFAFA;
    border-left: 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 5px;
}

.event-container:hover {
    border-left-width: 10px;
    background: #ECEFF1;
}

.date-container {
    display: inline-block;
    width: 5em;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin-right: 6px;
    font-family: Oswald;
    font-weight: 700;
    color: #343434;
}

.click-for-details {
    font-size: .7em;
    float: right;
}

.date {
    font-size: 1.5em;
    display: block;
}

.dia {
    display: block;
    font-size: .4em;
    font-weight: 100;
    margin-top: -.8em;
    text-transform: uppercase;
}

.month {
    display: block;
    font-size: .7em;
    font-weight: 400;
    margin-top: -.4em;
    text-transform: uppercase;
}

.detail-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    padding-left: 15px;
    width: 70%;
}

.title {
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.3em;
    color: #8D6E63;
}

.description {
    display: block;
    font-size: 0.9em;
    color: #e85d79;
}


.openEv {
    font-size: 1em;
    color: #131313;
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    display: none;
    white-space: normal;
}

    .openEv.open {
        display: block;
    }
