@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);



.event-calendar-scroll {
    max-height: 340px;
    overflow-y: scroll;
}


.event-calendar {
    font-size: 14px;
    font-family: Open Sans;
    overflow: hidden;
    white-space: nowrap;
}


.event-archive-scroll {
    height: 85%;
    overflow-y: scroll;
}


.head {
    margin-bottom: 0px;
}

ss {
    color: #10e1e0;
}

.top-line {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 2em;
    text-transform: capitalize;
    color: rgb(253, 248, 228);
}

.spacer {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.xl-trans-spacer {
    margin-bottom: 20px;
}

.event-list {
    display: block;
    border-right: 1px solid rgb(229, 229, 229);
}

.event {
    text-decoration: none;
}

.event:nth-child(3n+1) .event-container {
    border-left-color: #15cb43;
    /* verde */
}

.event:nth-child(3n) .event-container {
    border-left-color: #FDD835;
    /*amarillo*/
}

.event:nth-child(3n-1) .event-container {
    border-left-color: #F44336;
    /*rojo*/
}

.event:nth-child(3n+1) .flipside-event-container {
    border-left-color: #15cb43;
    /* verde */
}

.event:nth-child(3n) .flipside-event-container {
    border-left-color: #FDD835;
    /*amarillo*/
}

.event:nth-child(3n-1) .flipside-event-container {
    border-left-color: #F44336;
    /*rojo*/
}


.event-container {
    color: #131313;
    transition: all 0.2s ease;
    background: #FAFAFA;
    border-left: 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 5px;
}

.event-container:hover {
    border-left-width: 10px;
    background: #ECEFF1;
}


.flipside-event-container {
    color: #131313;
    transition: all 0.2s ease;
    background: #FAFAFA;
    border-left: 3px solid;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    border-radius: 5px;
}

.flipside-event-container:hover {
    border-left-width: 10px;
    background: #ECEFF1;
}


.event-container .date-container {
    display: inline-block;
    width: 5em;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin-right: 6px;
    font-family: Oswald;
    font-weight: 700;
    color: #343434;
}

.flipside-event-container .date-container {
    display: inline-block;
    width: 5em;
    padding-top: 3px;
    padding-left: 13px;
    padding-right: 0;
    padding-bottom: 2px;
    font-family: Oswald;
    font-weight: 500;
    color: #343434;
    max-width: 35px;
}



.event-container .click-for-details {
    font-size: .7em;
    float: right;
}

.flipside-event-container .click-for-details {
    font-size: .7em;
    float: right;
    margin-top: -1.5em;
}


.event-container .date {
    font-size: 1.5em;
    display: block;
}

.flipside-event-container .date {
    font-size: 1em;
    display: none;
}

.event-container .dia {
    display: none;
    font-size: .4em;
    font-weight: 100;
    margin-top: -.8em;
    text-transform: uppercase;
}

.flipside-event-container .dia {
    display: block;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
}

.event-container .month {
    display: block;
    font-size: .7em;
    font-weight: 400;
    margin-top: -.4em;
    text-transform: uppercase;
}

.flipside-event-container .month {
    display: block;
    font-size: .7em;
    font-weight: 400;
    margin-top: -.4em;
    text-transform: uppercase;
    display: none;
}

.event-container .detail-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    padding-left: 15px;
    width: 70%;
}

.flipside-event-container .detail-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    padding-left: 15px;
    width: 70%;
    margin-top: 0;
}

.event-container .title {
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1em;
    color: #8D6E63;
}

.flipside-event-container .title {
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.1em;
    color: #8D6E63;
}

.event-container .description {
    display: block;
    font-size: 0.9em;
    color: #e85d79;
}

.flipside-event-container .description {
    display: block;
    font-size: 0.9em;
    color: #e85d79;
}


.openEv {
    font-size: 1em;
    color: #131313;
    background-image: url(images/event_calendar_bg.png);
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    display: none;
    white-space: normal;
}

.openEv.open {
    display: block;
}


/* Archive Page */

.archive-audio-container {
    padding-top: 5px;
    padding-right: 10px;
    float: right;
}


.event-container .archive-detail-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    padding-left: 15px;
}

input#archive-date-range {
    font-family: Oswald;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 15px;
}