{
	"lastfm": {
		"enabled": false,
		"apikey": "--YOUR LASTFM API KEY--",
		"apisecret": "--YOUR LASTFM API SECRET--",
		"applicationName": "",
		"registeredTo": "--YOUR LASTFM USERNAME--",
		"noAlbumImageAvailable":  "http://MYDOMAIN/logo.png"
	},
	"library": {
		"databasefile": "./data/MM.DB"
	},
	"otto": {
		"enabled": false,
		"token": "--YOUR DISCORD TOKEN--",
		"prefix" : "!",
		"mychannelID" : "--YOUR CHANNEL ID--",		               
		"use_nowplayingfile": false,
		"nowplayingfile" : "C:/temp/MediaMonkey_NowPlaying.txt"
	}
}